In [1]:
%matplotlib inline
import re
import pandas as pd

# Open the doc

In [2]:
with open('VA_My_HealtheVet_Blue_Button_Sample_Version_12_10.txt') as f:
    content = f.readlines()

In [3]:
full_doc = "".join(content)

# Vaccination history

In [4]:
search_string = """
Immunization:(.*)?\n
"""

In [5]:
search_string = "Immunization:\s+(.*?)\s+.*?Date Received:\s+(.*?)$"

In [6]:
results = re.findall(search_string, full_doc, re.DOTALL | re.MULTILINE)

In [7]:
results

[('INFLUENZA-H1N1-09,', '07 Dec 2012 @ 1155'),
 ('INFLUENZA-H1N1-09,', '01 Oct 2012 @ 1200'),
 ('PNEUMOCOCCAL', '06 Mar 2011 @ 0900'),
 ('PNEUMOVAX', '06 Mar 2011 @ 0900'),
 ('TETANUS', '07 Dec 2012 @ 1155'),
 ('Tetanus', '07 Jan 2013'),
 ('Tetanus', '18 Jul 2010')]

In [8]:
vax_df = pd.DataFrame(results, columns=['vaccine', 'vax_date'])

In [9]:
vax_df

              vaccine            vax_date
0  INFLUENZA-H1N1-09,  07 Dec 2012 @ 1155
1  INFLUENZA-H1N1-09,  01 Oct 2012 @ 1200
2        PNEUMOCOCCAL  06 Mar 2011 @ 0900
3           PNEUMOVAX  06 Mar 2011 @ 0900
4             TETANUS  07 Dec 2012 @ 1155
5             Tetanus         07 Jan 2013
6             Tetanus         18 Jul 2010

In [10]:
def strip_extra(s):
    if "@" in s:
        cutoff = s.index("@")
        s = s[:cutoff]
    return(s)

In [11]:
vax_df['date'] = vax_df.vax_date.apply(lambda x: pd.Timestamp(strip_extra(x)))

In [12]:
vax_df

              vaccine            vax_date       date
0  INFLUENZA-H1N1-09,  07 Dec 2012 @ 1155 2012-12-07
1  INFLUENZA-H1N1-09,  01 Oct 2012 @ 1200 2012-10-01
2        PNEUMOCOCCAL  06 Mar 2011 @ 0900 2011-03-06
3           PNEUMOVAX  06 Mar 2011 @ 0900 2011-03-06
4             TETANUS  07 Dec 2012 @ 1155 2012-12-07
5             Tetanus         07 Jan 2013 2013-01-07
6             Tetanus         18 Jul 2010 2010-07-18

In [13]:
vax_df['clinically_documented'] = vax_df.vax_date.apply(lambda x: "@" in x)

In [14]:
vax_df

              vaccine            vax_date       date  clinically_documented
0  INFLUENZA-H1N1-09,  07 Dec 2012 @ 1155 2012-12-07                   True
1  INFLUENZA-H1N1-09,  01 Oct 2012 @ 1200 2012-10-01                   True
2        PNEUMOCOCCAL  06 Mar 2011 @ 0900 2011-03-06                   True
3           PNEUMOVAX  06 Mar 2011 @ 0900 2011-03-06                   True
4             TETANUS  07 Dec 2012 @ 1155 2012-12-07                   True
5             Tetanus         07 Jan 2013 2013-01-07                  False
6             Tetanus         18 Jul 2010 2010-07-18                  False

In [15]:
vax_df.sort_values('date', inplace=True)

In [16]:
vax_df

              vaccine            vax_date       date  clinically_documented
6             Tetanus         18 Jul 2010 2010-07-18                  False
2        PNEUMOCOCCAL  06 Mar 2011 @ 0900 2011-03-06                   True
3           PNEUMOVAX  06 Mar 2011 @ 0900 2011-03-06                   True
1  INFLUENZA-H1N1-09,  01 Oct 2012 @ 1200 2012-10-01                   True
0  INFLUENZA-H1N1-09,  07 Dec 2012 @ 1155 2012-12-07                   True
4             TETANUS  07 Dec 2012 @ 1155 2012-12-07                   True
5             Tetanus         07 Jan 2013 2013-01-07                  False

In [17]:
vax_df['vaccine_matching'] = vax_df.vaccine.apply(lambda x: x[:6].upper())

In [18]:
vax_df

,vaccine,vax_date,date,clinically_documented,vaccine_matching
6,Tetanus,18 Jul 2010,2010-07-18,False,TETANU
2,PNEUMOCOCCAL,06 Mar 2011 @ 0900,2011-03-06,True,PNEUMO
3,PNEUMOVAX,06 Mar 2011 @ 0900,2011-03-06,True,PNEUMO
1,"INFLUENZA-H1N1-09,",01 Oct 2012 @ 1200,2012-10-01,True,INFLUE
0,"INFLUENZA-H1N1-09,",07 Dec 2012 @ 1155,2012-12-07,True,INFLUE
4,TETANUS,07 Dec 2012 @ 1155,2012-12-07,True,TETANU
5,Tetanus,07 Jan 2013,2013-01-07,False,TETANU

In [19]:
vax_df.set_index('vaccine_matching')

,vaccine,vax_date,date,clinically_documented
vaccine_matching,,,,
TETANU,Tetanus,18 Jul 2010,2010-07-18,False
PNEUMO,PNEUMOCOCCAL,06 Mar 2011 @ 0900,2011-03-06,True
PNEUMO,PNEUMOVAX,06 Mar 2011 @ 0900,2011-03-06,True
INFLUE,"INFLUENZA-H1N1-09,",01 Oct 2012 @ 1200,2012-10-01,True
INFLUE,"INFLUENZA-H1N1-09,",07 Dec 2012 @ 1155,2012-12-07,True
TETANU,TETANUS,07 Dec 2012 @ 1155,2012-12-07,True
TETANU,Tetanus,07 Jan 2013,2013-01-07,False

In [20]:
vax_df.groupby("vaccine_matching").date.apply(
    lambda x: [l.days for l in list(x - x.shift())[1:]])

vaccine_matching
INFLUE         [67]
PNEUMO          [0]
TETANU    [873, 31]
Name: date, dtype: object

# Medication reminders

In [21]:
search_string = "Medication:\s+(.*?)\n+.*?Instructions:\s+(.*?)\n+.*?Status:\s+(.*?)\n+.*?Refills Remaining:\s+(.*?)\nLast Filled On:\s+(.*?)\nInitially Ordered On:\s+(.*?)\nQuantity:\s+(.*?)\nDays Supply:\s+(.*?)$"
results = re.findall(search_string, full_doc, re.MULTILINE)

In [22]:
results

[('ASPIRIN 81MG EC TAB ',
  'TAKE ONE TABLET BY MOUTH EVERY DAY ',
  'Active',
  '3',
  '14 Oct 2014',
  '14 Oct 2014',
  '30',
  '30'),
 ('ASPIRIN 325MG EC TAB ',
  'TAKE ONE TABLET BY MOUTH EVERY DAY ',
  'Active',
  '11',
  '24 Sep 2014',
  '25 Aug 2014',
  '1',
  '1'),
 ('AMLODIPINE BESYLATE 5MG TAB ',
  'TAKE ONE-HALF TABLET BY MOUTH EVERY DAY FOR BLOOD PRESSURE ',
  'Expired',
  '2',
  '01 Mar 2013',
  '10 Dec 2012',
  '45',
  '90'),
 ('DONEPEZIL HCL 5MG TAB ',
  'TAKE ONE TABLET BY MOUTH EVERY MORNING ',
  'Expired',
  '10',
  '16 Feb 2013',
  '10 Dec 2012',
  '30',
  '30'),
 ('HCTZ 25/TRIAMTERENE 37.5MG TAB ',
  'TAKE ONE-HALF TABLET (12.5/18.75 MG) BY MOUTH EVERY DAY ',
  'Expired',
  '3',
  '11 Dec 2012',
  '10 Dec 2012',
  '45',
  '90'),
 ('FLUOXETINE HCL 10MG CAP ',
  'TAKE ONE CAPSULE BY MOUTH EVERY MORNING ',
  'Expired',
  '3',
  '11 Dec 2012',
  '10 Dec 2012',
  '90',
  '90'),
 ('ACCU-CHEK AVIVA (GLUCOSE) TEST STRIP #50 ',
  'USE 1 STRIP FOR BLOOD GLUCOSE TESTING AS DIRECTED ',
  'Discontinued',
  '2',
  '09 Jul 2012',
  '06 Jul 2012',
  '200',
  '50'),
 ('SODIUM CHLORIDE 0.65% SOLN NASAL ',
  'SPRAY 2 SPRAYS MOUTH MINUTE FOR 30 DAYS ',
  'Discontinued',
  '3',
  '09 Jul 2012',
  '06 Jul 2012',
  '10',
  '30'),
 ('NAPROXEN 500MG TAB ',
  'TAKE ONE TABLET BY MOUTH TWICE A DAY -- TAKE WITH FOOD IF GI ',
  'Discontinued',
  '3',
  '09 Jul 2012',
  '06 Jul 2012',
  '60',
  '90'),
 ('METFORMIN HCL 1000MG TAB ',
  'TAKE ONE TABLET BY MOUTH TWICE DAILY WITH MEALS FOR DIABETES. ',
  'Discontinued',
  '2',
  '09 Jul 2012',
  '06 Jul 2012',
  '180',
  '90'),
 ('LISINOPRIL 10MG TAB ',
  'TAKE ONE TABLET BY MOUTH EVERY DAY FOR BLOOD PRESSURE ',
  'Discontinued',
  '3',
  '09 Jul 2012',
  '06 Jul 2012',
  '30',
  '30'),
 ('DEXAMETHASONE 4MG TAB ',
  'TAKE TWO TABLETS BY MOUTH HOUR FOR 2 DAYS -- TAKE WITH FOOD -- ',
  'Discontinued',
  '2',
  '09 Jul 2012',
  '06 Jul 2012',
  '96',
  '30'),
 ('ACCU-CHEK AVIVA (GLUCOSE) TEST STRIP #50 ',
  'USE 1 STRIP FOR BLOOD GLUCOSE TESTING AS DIRECTED ',
  'Expired',
  '1',
  '05 Dec 2011',
  '03 Jun 2011',
  '200',
  '50'),
 ('SODIUM CHLORIDE 0.65% SOLN NASAL ',
  'SPRAY 2 SPRAYS MOUTH MINUTE FOR 30 DAYS ',
  'Expired',
  '3',
  '03 Jun 2011',
  '03 Dec 2010',
  '10',
  '30'),
 ('METFORMIN HCL 1000MG TAB ',
  'TAKE ONE TABLET BY MOUTH TWICE DAILY WITH MEALS FOR DIABETES. ',
  'Expired',
  '2',
  '03 Jun 2011',
  '03 Jun 2011',
  '180',
  '90'),
 ('NAPROXEN 500MG TAB ',
  'TAKE ONE TABLET BY MOUTH TWICE A DAY -- TAKE WITH FOOD IF GI ',
  'Expired',
  '3',
  '03 Jun 2011',
  '03 Dec 2010',
  '60',
  '90'),
 ('DEXAMETHASONE 4MG TAB ',
  'TAKE TWO TABLETS BY MOUTH HOUR FOR 2 DAYS -- TAKE WITH FOOD -- ',
  'Expired',
  '2',
  '03 Jun 2011',
  '03 Dec 2010',
  '96',
  '30'),
 ('LISINOPRIL 10MG TAB ',
  'TAKE ONE TABLET BY MOUTH EVERY DAY FOR BLOOD PRESSURE ',
  'Expired',
  '3',
  '03 Jun 2011',
  '03 Dec 2010',
  '30',
  '30')]

In [23]:
medications = pd.DataFrame(results, columns=['medication', 'directions', 'status',
                                             'refills_remaining', 'last_filled_on', 'initially_ordered_on', 'quantity', 'days_supply'])
medications = medications.apply(lambda x: x.astype(str).str.upper())

In [24]:
medications.head(3)

,medication,directions,status,refills_remaining,last_filled_on,initially_ordered_on,quantity,days_supply
0,ASPIRIN 81MG EC TAB,TAKE ONE TABLET BY MOUTH EVERY DAY,ACTIVE,3,14 OCT 2014,14 OCT 2014,30,30
1,ASPIRIN 325MG EC TAB,TAKE ONE TABLET BY MOUTH EVERY DAY,ACTIVE,11,24 SEP 2014,25 AUG 2014,1,1
2,AMLODIPINE BESYLATE 5MG TAB,TAKE ONE-HALF TABLET BY MOUTH EVERY DAY FOR BL...,EXPIRED,2,01 MAR 2013,10 DEC 2012,45,90

In [25]:
medications[medications.status == 'ACTIVE']

,medication,directions,status,refills_remaining,last_filled_on,initially_ordered_on,quantity,days_supply
0,ASPIRIN 81MG EC TAB,TAKE ONE TABLET BY MOUTH EVERY DAY,ACTIVE,3,14 OCT 2014,14 OCT 2014,30,30
1,ASPIRIN 325MG EC TAB,TAKE ONE TABLET BY MOUTH EVERY DAY,ACTIVE,11,24 SEP 2014,25 AUG 2014,1,1

In [26]:
re.findall("EVERY\s(.*)", "TAKE ONE TABLET BY MOUTH EVERY DAY")[0]

'DAY'

In [27]:
medications['time_delta'] = medications.directions.apply(
    lambda x: re.findall("EVERY\s(.*)", x))

In [28]:
medications[medications.status == 'ACTIVE'][['directions', 'time_delta']]

                            directions time_delta
0  TAKE ONE TABLET BY MOUTH EVERY DAY      [DAY ]
1  TAKE ONE TABLET BY MOUTH EVERY DAY      [DAY ]

In [29]:
pd.date_range('now', periods=30, freq='D')

DatetimeIndex(['2020-12-31 21:57:07.001699', '2021-01-01 21:57:07.001699',
               '2021-01-02 21:57:07.001699', '2021-01-03 21:57:07.001699',
               '2021-01-04 21:57:07.001699', '2021-01-05 21:57:07.001699',
               '2021-01-06 21:57:07.001699', '2021-01-07 21:57:07.001699',
               '2021-01-08 21:57:07.001699', '2021-01-09 21:57:07.001699',
               '2021-01-10 21:57:07.001699', '2021-01-11 21:57:07.001699',
               '2021-01-12 21:57:07.001699', '2021-01-13 21:57:07.001699',
               '2021-01-14 21:57:07.001699', '2021-01-15 21:57:07.001699',
               '2021-01-16 21:57:07.001699', '2021-01-17 21:57:07.001699',
               '2021-01-18 21:57:07.001699', '2021-01-19 21:57:07.001699',
               '2021-01-20 21:57:07.001699', '2021-01-21 21:57:07.001699',
               '2021-01-22 21:57:07.001699', '2021-01-23 21:57:07.001699',
               '2021-01-24 21:57:07.001699', '2021-01-25 21:57:07.001699',
               '2021-01-26 21:57:07.001699', '2021-01-27 21:57:07.001699',
               '2021-01-28 21:57:07.001699', '2021-01-29 21:57:07.001699'],
              dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range('now', freq="12H", periods=10)

DatetimeIndex(['2020-12-31 21:57:07.008363', '2021-01-01 09:57:07.008363',
               '2021-01-01 21:57:07.008363', '2021-01-02 09:57:07.008363',
               '2021-01-02 21:57:07.008363', '2021-01-03 09:57:07.008363',
               '2021-01-03 21:57:07.008363', '2021-01-04 09:57:07.008363',
               '2021-01-04 21:57:07.008363', '2021-01-05 09:57:07.008363'],
              dtype='datetime64[ns]', freq='12H')